.auth-container {
    display: flex;
    gap: 0px;
    .auth-left{
        align-self: center;
        background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png');
        width: 450px;
        position: relative;
        background-position: -46px 0;
        background-size: 468.32px 634.15px;
        flex-basis: 380.32px;
        height: 581.15px;
        margin-bottom: 12px;
        margin-right: 32px;

        .auth-slider {
            height: 538.84px;
            left: 111px;
            position: absolute;
            top: 24px;
            width: 250px;
        }
    }
}